encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1ykg448l6aj2znrqc4y00uzjfzkx7v7gdpj7xjymnjsg7vh4mjd7sj4mney"

[secret]
    command = "sh"
    args = ["-c", "export SOPS_AGE_KEY_FILE=$(eval echo \"$SOPS_AGE_KEY_FILE\"); exec sops \"$@\"", "--"]

[env]
    SOPS_AGE_KEY_FILE = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"

[hooks.add.pre]
    command = "bash"
    args = ["-c", "exec \"$CHEZMOI_SOURCE_DIR/scripts/check-secrets.sh\" \"$@\"", "--"]

[hooks.update.pre]
    command = "bash"
    args = ["-c", "exec \"$CHEZMOI_SOURCE_DIR/scripts/check-removed-files.sh\" pre \"$@\"", "--"]

[hooks.update.post]
    command = "bash"
    args = ["-c", "exec \"$CHEZMOI_SOURCE_DIR/scripts/check-removed-files.sh\" post \"$@\"", "--"]
