{{ includeTemplate ".chezmoitemplates/shell_editor.sh.tmpl" . }}

{{ includeTemplate ".chezmoitemplates/shell_pi.sh.tmpl" . }}

{{ includeTemplate ".chezmoitemplates/shell_starship.sh.tmpl" (dict "shell" "bash") }}

{{ includeTemplate ".chezmoitemplates/shell_openstack.sh.tmpl" . }}
