## ENV VARS SETUP

{{ includeTemplate ".chezmoitemplates/shell_editor.sh.tmpl" . }}

## SOFTWARE SETUP

{{ includeTemplate ".chezmoitemplates/shell_pi.sh.tmpl" . }}

# PyEnv Setup
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# VirtualEnvWrapper Setup
export WORKON_HOME=$HOME/.virtualenvs
#export VIRTUALENVWRAPPER_PYTHON=$PYENV_ROOT/versions/3.13.5/bin/python3
#export VIRTUALENVWRAPPER_PYTHON=$PYENV_ROOT/shims/python3
#export PROJECT_HOME=$HOME/Dev
[[ -r $PYENV_ROOT/versions/3.13.5/bin/virtualenvwrapper.sh ]] && source $PYENV_ROOT/versions/3.13.5/bin/virtualenvwrapper.sh

{{ includeTemplate ".chezmoitemplates/shell_starship.sh.tmpl" (dict "shell" "zsh") }}

{{ includeTemplate ".chezmoitemplates/shell_openstack.sh.tmpl" . }}
