#!/bin/bash

# check-secrets.sh hash: {{ include "scripts/check-secrets.sh" | sha256sum }}
mkdir -p ~/.config/chezmoi/scripts
cp {{ joinPath .chezmoi.sourceDir "scripts/check-secrets.sh" | quote }} ~/.config/chezmoi/scripts/check-secrets.sh
chmod +x ~/.config/chezmoi/scripts/check-secrets.sh
