{{- /* chezmoi:template */ -}}
{
  "providers": {
    "reallms": {
      "baseUrl": "https://reallms.rescloud.iu.edu/direct/v1",
      "api": "openai-completions",
      "apiKey": "{{ (index ((secret "-d" (joinPath .chezmoi.sourceDir "secrets/private_dot_pi/private_agent/models.json.sops.yaml") | fromYaml).data | fromYaml) "apiKey__1") }}",
      "compat": {
        "supportsDeveloperRole": false,
        "supportsReasoningEffort": false
      },
      "models": [
        {
          "id": "Qwen3-Coder-Next",
          "name": "Qwen3-Coder-Next",
          "reasoning": true
        },
        {
          "id": "gemma-4-31B-it",
          "name": "gemma-4-31B-it",
          "reasoning": true
        },
        {
          "id": "gpt-oss-120b",
          "name": "gpt-oss-120b",
          "reasoning": true
        }
      ]
    },
    "reallms-dev": {
      "baseUrl": "https://reallms-dev.rescloud.iu.edu/direct/v1",
      "api": "openai-completions",
      "apiKey": "{{ (index ((secret "-d" (joinPath .chezmoi.sourceDir "secrets/private_dot_pi/private_agent/models.json.sops.yaml") | fromYaml).data | fromYaml) "apiKey__2") }}",
      "compat": {
        "supportsDeveloperRole": false,
        "supportsReasoningEffort": false
      },
      "models": [
        {
          "id": "claude-sonnet-4-6",
          "name": "claude-sonnet-4-6",
          "reasoning": true
        }
      ]
    }
  }
}
