{{- /* chezmoi:template */ -}}
{
  "providers": {
    "linkup": {
      "apiKey": "{{ (index ((secret "-d" (joinPath .chezmoi.sourceDir "secrets/private_dot_pi/private_agent/private_browsers.json.sops.yaml") | fromYaml).data | fromYaml) "apiKey__1") }}"
    },
    "tavily": {
      "apiKey": "{{ (index ((secret "-d" (joinPath .chezmoi.sourceDir "secrets/private_dot_pi/private_agent/private_browsers.json.sops.yaml") | fromYaml).data | fromYaml) "apiKey__2") }}"
    }
  }
}
